<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="car" class="com.zck.spring.beans.Car">
<property name="company" value="audi2"></property>
<property name="brand" value="0000"></property>
<property name="maxSpeed" value="250"></property>
<property name="price" value="52000"></property>
</bean> 
<bean id="car2" class="com.zck.spring.beans.Car">
<property name="company" value="ford"></property>
<property name="brand" value="tom"></property>
<property name="maxSpeed" value="260"></property>
<property name="price" value="52000.1"></property>
</bean> 
<bean id="car3" class="com.zck.spring.beans.Car">
<property name="company" value="for12323d"></property>
<property name="brand" value="tom21312"></property>
<property name="maxSpeed" value="22360"></property>
<property name="price" value="52000.1"></property>
</bean> 
<bean id="person" class="com.zck.spring.beans.Person">
<property name="name" value="TOM"></property>
<property name="age" value="25"></property>
<property name="cars" >
<map >
<entry key="AA" value-ref="car"></entry>
<entry key="BB" value-ref="car2"></entry>
<entry key="CC" value-ref="car3"></entry>
</map>
</property>
</bean>



</beans>
